.eslintignore
.eslint*
.gitignore
.prettierignore
.prettier*
.stylelint*
.stylelintignore
commitlint.config.js
README.md
node_modules
.husky
.vscode
.editorconfig
renovate.json
vercel.json
./build.sh
