public
dist
/scripts
/stylelint.config.js
/commitlint.config.js
.stylelint.js
.stylelintignore
.prettierrc.js
/node_modules
**/*.svg
**/*.ico
.DS_Store
.eslintignore
*.png
*.toml
.editorconfig
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
CNAME
tailwind.config.cjs
src/assets/css/*.css
vite.config.ts
/src/typings/*.d.ts
