public
dist
/node_modules
**/*.svg
**/*.ico
.DS_Store
.eslintignore
*.png
*.toml
.editorconfig
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
CNAME
src/assets/style/*.css
*.sh
Dockerfile
Dockerfile.test
.dockerignore
