/* .container {
} */
.firstLine {
	display: flex;
	justify-content: space-between;
}
/* .buttons > button:first-child {
	margin-right: 24px;
} */
.buttons {
	> button:first-child {
		margin-right: 24px;
	}
}
.secondLine {
	margin-top: 16px;
}
.tableBox {
	margin-top: 8px;
	:global {
		.ant-table-thead
			> tr
			> th:not(:last-child):not(.ant-table-selection-column):not(
				.ant-table-row-expand-icon-cell
			):not([colspan])::before {
			width: 0;
		}
		.ant-table-tbody > tr > td {
			padding: 16px 5px;
		}
	}
}
.brandId {
	color: #3fa5ff;
	display: inline-block;
	width: 100px;
}
.brandExternalInfo {
	display: flex;
	justify-content: center;
	align-items: center;
	> div {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	> img {
		width: 40px;
		height: 40px;
		margin-right: 4px;
		border-radius: 4px;
	}
	.brandName {
		display: inline-block;
		font-weight: bolder;
		font-size: 16px;
	}
	.brandDesc {
		display: inline-block;
		width: 90px;
		font-size: 12px;
	}
}
.commercialOrder {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-right: 8px;
	> img {
		margin-right: 4px;
	}
}
.submitUser {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	> img {
		width: 16px;
		height: 16px;
		margin-right: 4px;
		background-color: #cccccc;
		border-radius: 50%;
	}
}
.statusZero {
	display: inline-block;
	padding: 4px 8px;
	color: #ffffff;
}
.statusOne {
	background-color: #2a82e4;
}
.statusTwo {
	background-color: #ff003c;
}
.statusThree {
	background-color: #c7c7c7;
}
.initAgain {
	color: #2a82e4;
}
.operation {
	display: flex;
	> span {
		margin-right: 10px;
		color: #2a82e4;
	}
}

.pointer {
	cursor: pointer;
}
.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.notSelect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
}
